body {
  background: yellow;
  font-size: 0.2rem;
}

body h1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #000;
  text-align: center;
  margin-top: 0.1rem;
}

body h2 {
  color: red;
  margin-top: 1PX;
}

body img {
  width: 2.4rem;
}

body .img {
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/img.png);
  background-size: 100%;
}