body {
  background: blue;
  font-size: 0.2rem;
}

body h1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-align: center;
  margin-top: 0.1rem;
}

body h2 {
  color: red;
  margin-top: 0.01rem;
}